/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 * {
   box-sizing: border-box;
   margin-bottom: 0;
 }


body {
  margin: 0;
  li {
    list-style: none;
    border: 1px solid lighten($brown, 40%);
     a {
      text-decoration: none;
       padding: 20px 5px;
       display: inline-block;
       width: 100%;
       text-align: center;
       /*color: $brown;*/
       /*font-weight: 400;*/
       &:hover {
         color: teal;
       }
    }
  }
}


/* Flex Nav Container */

.flex-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  /*flex-direction: column;*/
}

.flex-nav li {
  flex: 1;
  padding-bottom: 5%;
}


/* Responsive: At 800px, switch to rows */
@media all and (min-width: 800px) {
  .flex-nav ul {
     flex-direction: row;
  }
}

.flex-nav a {
  color: black;
  padding-top: 1rem;
  display: inline-block;
}

a {
  text-decoration: none;
}

li {
  list-style: none;

}

.picture-container li:first-of-type a{
  text-align: center;

}



/* LOGIN */
.login-flex {
  /*background: grey;*/
  display: flex;
}

.login {
  width: 50%;
  margin: 0 auto;
  /*background: red;*/
}

.login h1 {
  padding-bottom: 5%;
}

.email {
  padding-bottom: 2%;
}

.remember {
  padding-bottom: 2%;
}
